//  .hero {
//   max-width: 1600px;
//  padding-top: 200px;
//   padding-bottom: 200px;
//   margin: 0 auto;
//  text-align: center;

//  background-color: $secondaryColor;
//    background-image: linear-gradient(
//       to left,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)), 
//         background-repeat: no-repeat;

//    background-size: cover;
//    background-position: center;
//  }
// .hero__button {
//   color: $buttonColor;
//   background-color: $accentColor;

//   cursor: pointer;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.8;
//   letter-spacing: 0.06em;

//   border-style: none;
//   border-radius: 4px;

//   min-width: 200px;
//   padding: 10px 30px;
//   display: inline-block;

//    @include transition(box-shadow);
//    &:hover,
//   &:focus{
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   }
//  }

//  .hero__title {
//    color: $mainColor;

//  font-weight: 900;
//    font-size: 44px;
//   line-height: 1.36;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;

//   margin-bottom: 30px;
// }

// .backdrop.is-hidden {
//   visibility: hidden;
//   opacity: 0;
//   pointer-events: none;
// }
// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;

//   background-color: rgba(0, 0, 0, 0.2);

//   opacity: 1;
//   visibility: visible;
//   @include transition(opacity);
//   @include transition(visibility);
//   z-index: 1;
// }
.container{
  padding-left:15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.hero{
 margin: 0 auto;
 text-align: center;

background-color: $secondaryColor;
 @media screen and (max-width:$tablet) {
  max-width: 480px;
   height: 400px;

   padding-top: 118px;
   padding-bottom: 188px;
 }
 @media screen and (max-width:1199px){
  max-width: 768px;
  height: 400px;
  padding-top:118px;
  padding-botton:118px;
 }

}
.hero{
  @media screen and (min-width:1200px){
  background-color: var($secondaryColor);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../image/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 @media screen and (min-width:$tablet){
   background-color: var($secondaryColor);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../image/tablet-herox1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 }
  @media screen and (max-width:$tablet) {
    background-color: var($secondaryColor);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../image/hero-mobilex1.png');
  background-repeat: no-repeat;
  background-size: cover;
 }
  }

 .hero{
   @media screen and (min-width:1200px) {
  height:600px;
  min-width:1600px;
   text-align: center;
    max-width: 1600px;
 padding-top: 200px;
  padding-bottom: 200px;
 }
 }
.hero__title{

    margin-bottom: 30px;
 }
 


.hero__button {
  color: $buttonColor;
  background-color: $accentColor;

  cursor: pointer;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.8;
 letter-spacing: 0.06em;

  border-style: none;
  border-radius: 4px;

  min-width: 200px;
  padding: 10px 30px;
  display: inline-block;

   @include transition(box-shadow);
    &:hover,
  &:focus{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   }
  }

  .hero__title {
   color: $mainColor;

  font-weight: 900;
  letter-spacing: 0.06em;
text-transform: uppercase;

  @media screen and (max-width:1199px){
font-size: 26px;
line-height: 1.61;
  }

  @media screen and (min-width:$desktop){

 font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;

  }
  }
 .backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
   pointer-events: none;
 }

 .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

 background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
     visibility: visible;
  @include transition(opacity);
   @include transition(visibility);
  z-index: 1;

  @media screen and (max-width:$tablet){
  padding-top:93px;
  padding-right: 15px;
  padding-bottom: 93px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  overflow: scroll;

  }
//      @media screen and (max-width:$desktop){
//  padding-top:208px;
//   padding-right: 159px;
//   padding-bottom: 208px;
//   padding-left: 159px;
//      }
  
 }