@media screen and (max-width:1199px) {
  .occupation{
    display: none;
  }
}

 .occupation {
   padding-top: 0px;
 }
  .occupation__photo {
  display: block;
 }
 .occupation__list {
   display: flex;
   justify-content: space-between;
 }
 .occupation__item {
  display: block;
  position: relative;
  z-index: 0;
 }
 .occupation__text {
   position: absolute;
   bottom: 0;
   left: 0;
 @extend %allcenter;

  font-weight: 700;
  line-height: 1.14;
  color: $mainColor;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  width: 100%;
  min-height: 70px;
}
