
  $mainColor: #ffffff;
  $secondaryColor: #2f303a;
  $mainTextColor: #212121;
  $secondaryTextColor: #757575;
  $accentColor: #2196f3;
  $buttonColor: #f5f4fa;

  $fontFamily: "Roboto", sans-serif;
 
